<div id="login">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="heading">
      <h1>Login</h1>
      <button>X</button>
    </div>
    <div class="fields">
      <div class="form-group">
        <div
          *ngIf="email.invalid && email.dirty && email.touched"
          class="alert alert-danger"
        >
          <div *ngIf="email.errors.required">
            Email is required
          </div>
          <div *ngIf="email.errors.email">
            Email is invalid
          </div>
        </div>
        <input
          type="email"
          class="form-control email"
          formControlName="email"
          placeholder="Email"
          required
        />
      </div>
      <div class="form-group">
        <div
          *ngIf="password.invalid && password.dirty && password.touched"
          class="alert alert-danger"
        >
          <div *ngIf="password.errors.required">
            password is required
          </div>
          <div *ngIf="password.errors.minlength">
            Password is invalid
          </div>
        </div>
        <input
          type="password"
          class="form-control email"
          formControlName="password"
          placeholder="Password"
          required
        />
      </div>
    </div>
    <div class="buttons">
      <button
        type="submit"
        [disabled]="!loginForm.valid"
        class="email-password"
      >
        Login
      </button>
      <button class="facebook">F</button>
      <button class="google">G</button>
    </div>
  </form>
</div>
